{% extends "layout.html" %}

{% block head %}
    {# <link href="/static/index.css" rel="stylesheet"> #}
{% endblock %}

{% block content %}
    <form action="{{ url_for('hello_action') }}" method="post">
        <label for="some_text">Enter Your name:</label>
        <input type="text" value="" name="user_name">
        <input type="submit">
    </form>
{% endblock %}
