<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    {#<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>#}
    <script src="/static/jquery/jquery.min.js" type="text/javascript"></script>

    {#<script src="/static/jquery/jquery.cookie.js" type="text/javascript"></script>#}

    {#<script src="/static/jquery/jquery-ui.js" type="text/javascript"></script>#}

    {#<script src="/static/jquery/dynatree/jquery.dynatree.min.js" type="text/javascript"></script>#}
    {#<link href="/static/jquery/dynatree/skin-vista/ui.dynatree.css" rel="stylesheet" type="text/css">#}

    {#<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>#}
    {#<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">#}

    {#<script src="/static/layout.js" type="text/javascript"></script>#} {# ATENTION: Same block is below #}
    <link rel="stylesheet" href="/static/layout.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block head %}{% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script src="/static/layout.js" type="text/javascript" async></script> {# ATENTION: Same block is above #}
</body>
</html>
